* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;

  canvas {
    outline: none;
  }
}

#credits {
  bottom: 0;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 0;
  line-height: 1.5;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 100%;

  a {
    color: currentColor;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
